* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* class selector */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
}

main img {
    /* you most likely will have other CSS declarations here */
    float: right;
}

aside {
    position: relative;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 150px;
}